@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Manrope:wght@500;600;700;800&family=Tomorrow:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-bg: #3734A9;
    --second-bg: #1B1C31;
    --purple-btn: #4F46BA ;
    --orange-btn: #F9896B ;
    --main-col: white;
    --second-col: #000000;
    --third-col: gray;
    --weight-bold: bold;
    --weight-semibold: 600;
    --weight-reg: 400;
    --weight-md: 500;
    --font-big: 40px; 
    --font-md: 30px; 
    --font-sm: 18px; 
    --border-none: none;
}

.header {
    min-height: 800px;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    box-sizing: border-box;
    display: inline;
}

.header-drawer {
    position: relative;
    visibility: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 2.5rem;
    justify-content: space-between;
    color: white;
}

.header-drawer .drawer {
    font-size: var(--font-big);
    cursor: pointer;
}

.header-drawer h2 {
    font-size: var(--font-md);
    cursor: pointer;
}

.header-chart {
    position: absolute;
    top: 25rem;
    width: 100%;
    max-height: 500px;
    margin: 0 auto;
}

.header-chart > img {
    width: 75vmax;
}

/* navbar */
.nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    margin-top: -7rem;
    z-index: 1;
    font-size: var(--font-sm);
    color: var(--main-col);
    font-weight: var(--weight-md);
}

.nav .close-nav {
    font-size: var(--font-big);
    display: none;
    cursor: pointer;
}

.nav h2 {
    font-size: var(--font-md);
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.nav-links li {
    list-style: none;
    cursor: pointer;
    transition: border-bottom 200ms ease-in-out;
}

.nav-links li:hover {
    border-bottom: 2px solid white;
}

.nav-links li > a {
    color: white;
    text-decoration: none;
}

.nav-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    gap: 20px;
}

.nav-actions button {
    cursor: pointer;
    padding: 10px 20px;
    background: var(--orange-btn);
    border: var(--border-none);
    color: var(--main-col);
    font-size: var(--font-sm);
    transition: opacity 300ms ease-in-out;
}

.nav-actions button:hover {
    opacity: .7;
}

.jumbotron {
    height: 600px;
    background-color: var(--main-bg);
    width: 100%;
    top: 0px;
    position: absolute;
}

.jumbotron-details {
    margin-top: 10em;
    color: var(--main-col);
}

.jumbotron-details h1 {
    font-weight: var(--weight-bold);
    font-size: var(--font-big);
    margin-bottom: 1rem;
}

.jumbotron-details p {
    font-size: var(--font-sm);
}

.jumbotron-btn-actions {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.jumbotron-btn-actions .btn-action {
    padding: 10px 20px;
    background: var(--orange-btn);
    border: var(--border-none);
    color: var(--main-col); 
    border-radius: 20px;
    font-size: var(--font-sm);
    cursor: pointer;
    transition: opacity 300ms ease-in-out;
}

.jumbotron-btn-actions .btn-action:hover {
    opacity: .8;
}

.jumbotron-btn-actions .btn-play-detail {
    display: flex;
    align-items: center;
    gap: 20px;
    /* width: 500px; */
}

.jumbotron-btn-actions .btn-play {
    font-size: var(--font-sm);
    padding: 10px 20px;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    background-color: #22D497;
}


/* main sections */
main {
   /* position: re; */
   /* top: 40rem; */
   width: 80%;
   margin: 65rem auto;
   font-family: 'Manrope', sans-serif;
}

.companies {
    height: 100px;
}

.companies p {
    text-align: center;
    margin-bottom: 4rem;
    font-size: var(--font-sm);
}

.companies-images {
    display: flex;
    gap: 25px;
} 


/* features */
.features {
    height: 700px;
    margin-top: 5rem;
    width: 100%;
}

.features .feature-one, .feature-two {
    display: flex;
    align-items: center;
}

.features .feature-one .feature-title, .feature-two .feature-title {
    font-size: var(--font-sm);
    color: var(--third-col);
    font-weight: var(--weight-bold);
} 

.features .feature-one .feature-headline, .feature-two .feature-headline {
    font-weight: var(--weight-bold);
    font-size: var(--font-big);
}

.features .feature-desc p {
    color: var(--third-col);
    font-size: var(--font-sm);
    font-weight: var(--weight-reg);
}

.features .feature-two {
   margin-top: 2rem;
}

.features .feature-details {
    height: 350px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
}


.feature-details button {
    padding: 10px 20px;
    background: var(--purple-btn);
    border: var(--border-none);
    color: var(--main-col); 
    border-radius: 20px;
    font-size: var(--font-sm);
    cursor: pointer;
    width: 200px;
    transition: opacity 300ms ease-in-out;
}

.feature-details button:hover {
    opacity: .8;
}

/* services */
.services {
    margin-top: 30rem;
    height: 600px;
    width: 100%;
    color: var(--main-col);
}

.services-details {
    background-color: var(--main-bg);
    padding: 3rem 4rem;
    min-height: 550px;
    min-width: 100%;
}

.services-details header, aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-details header {
    margin-bottom: 4rem;
}

.services-details header > h2 {
    font-size: var(--font-md);
    font-weight: var(--weight-bold);
    width: 400px;
}

.services-details header > button {
    padding: 20px 30px;
    width: 200px;
    background: var(--orange-btn);
    border: var(--border-none); 
    color: var(--main-col);
    font-size: var(--font-sm);
    cursor: pointer;
    transition: opacity 300ms ease-in-out;
}

.services-details header > button:hover {
    opacity: .8;
} 

.services-details aside > article {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.services-details article h2 {
    margin-bottom: 1rem;
}

.services-details .services-details-aside > img {
    width: 500px;
    height: 400px;
}

/* FOOTER */
.footer {
    background: var(--second-bg);
    min-height: 600px;
    margin-top: 15rem;
    font-family: 'Manrope', sans-serif;
}

.footer .footer-top {
    width: 100%;
    text-align: center;
    padding: 4rem 6rem;
    border-bottom: 1px solid #aaa;
}

.footer .footer-top > h2 {
    color: var(--main-col);
    font-size: var(--font-big);
    margin-bottom: 2rem;
}

.footer .footer-top > button {
    padding: 10px 20px;
    background: var(--orange-btn);
    border: var(--border-none); 
    color: var(--main-col);
    font-size: var(--font-sm);
    cursor: pointer;
    transition: opacity 300ms ease-in-out;
}

.footer .footer-top > button:hover {
     opacity: .8;
}

.footer .footer-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem 6rem;
    color: var(--main-col);
    align-items: center;
    /* min-height: 300px; */
    border-bottom: 1px solid #aaa;
}

.footer .footer-center .footer-center-article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-center .footer-center-article p {
    line-height: 30px;
    margin-top: 2rem;
}

.footer-center .footer-center-aside h2 {
    margin-bottom: 1rem
}

.footer-center .footer-center-aside li {
    list-style: none;
    margin-bottom: 1rem;
}

.footer-center .footer-center-aside li:hover {
    cursor: pointer;
}

.footer-bottom {
    padding: 4rem 6rem;
    color: var(--main-col);
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 300px);
    justify-content: space-between;
}



@media screen and (max-width: 428px) {
    .jumbotron-details {
        margin-left: 0 !important;
    }

    .jumbotron-details p {
        font-size: 1.2rem !important;
    }

    .header .header-chart > img {
        margin-top: 13rem;
        width: 350px;
        /* display: none; */
    }

    .companies {
        margin-top: -20rem !important;
    }

    .companies-images > img {
        flex-direction: column !important;
        flex-wrap: nowrap !important;
    }

    .footer .footer-center {
        grid-template-columns: repeat(1, 1fr) !important;
        justify-content: space-between;
    }

    .footer .footer-center-article {
        /* width: 400px; */
    }
    .footer .footer-center-article > p {
        width: 100%;
    }

    .footer .footer-center .footer-center-aside {
        grid-template-columns: repeat(1, 1fr) !important;
        justify-content: space-between;
    }
}

@media screen and (max-width: 600px) {

    .jumbotron-details h1 {
        font-size: 1.8rem;
    }
    
    .jumbotron-details p {
        font-size: 1.3rem;
    }

    .jumbotron-btn-actions {
        flex-direction: column;
    }

    .jumbotron-btn-actions .btn-play-detail {
        display: none;
    }

    .header .header-chart > img {
        margin-top: 8rem;
    }

    .companies-images {
        flex-direction: column !important;
        flex-wrap: nowrap;
        gap: 40px 0;
        align-items: center;
        height: 400px;
    }

    .features {
        margin-top: 35rem;
    }

    .features .feature-one {
        flex-direction: column;
    }

    .features .feature-one > img, .feature-two > img {
        width: 400px;
    }

    .features .feature-two .feature-details  {
        width: 300px;
        margin-right: 4rem;
    }
    
     .features .feature-two .feature-details h1 {
        width: 150px;
        /* height: 100px; */
     }

    .features .feature-details {
        margin-top: 4rem;
        height: 430px;
    }

    .features .feature-two {
        flex-direction: column-reverse;
    }

    .services {
        margin-top: 69rem;
    }

    .services-details header {
        flex-direction: column;
        height: 250px;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
    }

    .services-details header, .services-details-aside {
        flex-direction: column;
    }

    .services-details .services-details-article {
        margin-top: 4rem;
    }

    .services-details .services-details-aside > img {
        margin-top: 2rem;
        width: 300px;
    }

    .services-details header {
        margin-bottom: 13rem;
    }

    .services-details header > h2 {
        font-size: var(--font-md);
        width: 200px !important;
    }

    .services-details header > button {
        margin-top: 2rem;
        width: 150px;
        height: 100px;
    }

    .footer {
        margin-top: 50rem !important;
    }


}

@media screen and (max-width: 820px) {

    .header .header-chart > img {
        margin-top: 6rem !important;
    }

    .jumbotron-details {
       margin-left: 2rem;
    }

    .header-drawer {
        visibility: visible;
    }

    .nav {
        visibility: hidden;
        top: -8.5rem;
        background-color: var(--second-bg);
        flex-direction: column;
        min-height: 500px;
    }
    
    .nav .close-nav {
       display: block;
    }


    .features .feature-one, .feature-two {
        flex-direction: column;
    }

    .services-details aside {
        flex-direction: column;
    }

    .footer {
        margin-top: 35rem;
    }

    .footer .footer-center {
       grid-template-columns: repeat(1, 1fr) !important;
    }

    .footer .footer-center .footer-center-aside {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    
    .footer .footer-bottom {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

}


@media screen and (max-width: 1024px) {

    .header .header-chart > img {
        margin-top: 2rem;
    }

    .companies {
        margin-top: -10rem;
    }

    .companies .companies-images {
        flex-wrap: wrap;
    }

    .features .feature-one {
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .features .feature-two {
        display: flex;
        flex-direction: column-reverse;
    }

    .features .feature-two .feature-details {
        margin-left: 3rem;
    }

    .features .feature-two .feature-details .feature-headline {
       width: 400px;
    }

    .features .feature-two {
        margin-top: 5rem;
    }

    .features .feature-one .feature-details .feature-headline, .feature-two .feature-details .feature-headline {
       font-size: 30px;
    }

    .services {
        margin-top: 75rem;
    }

    .services-details aside {
        flex-direction: column;
    }

    .services-details header > h2 {
        font-size: var(--font-md);
        width: 400px;
    }

    .footer .footer-center {
       gap: 4rem;
    }

    .footer .footer-center-aside {
        display: grid;
        gap: 20px;
        margin-top: 3rem;
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

